# Generate a random secret: openssl rand -base64 32
AUTH_SECRET=XXXXXXXX
# Create a GitHub OAuth app here: https://github.com/settings/applications/new
# Authorization callback URL: https://authjs.dev/reference/core/providers_github#callback-url
AUTH_GITHUB_ID=XXXXXXXX
AUTH_GITHUB_SECRET=XXXXXXXX
# Update these with your Pinecone API key and environment, https://app.pinecone.io/organizations/ -> API Keys
PINECONE_API_KEY=XXXXXXXX
PINECONE_ENVIRONMENT=XXXXXXXX
PINECONE_INDEX_NAME=XXXXXXXX